.nav-link {
  margin-top: 5px;
  font-size: 14px;
  font-family: "Barlow", sans-serif;
  color: hsl(0, 0%, 100%);
}

.kontak {
  margin-top: 5px;
  padding-top: 10px;
  height: 40px;
  width: 100px;
  font-family: "Fraunces", serif;
  color: black;
  border-radius: 20px;
  background-color: white;
  text-decoration: none;
  font-size: 12px;
}

.kontak:hover {
  text-decoration: none;
  color: black;
}

.jumbotron {
  background-image: url("images/desktop/image-header.jpg");
  background-size: cover;
  height: 600px;
  background-position: 0 -100px;
  border-radius: 0px;
}

.jumbotron h1 {
  font-family: "Fraunces", serif;
  color: white;
  font-weight: 700;
  /* margin-top: 100px; */
}
