html {
  position: relative;
}

/* .home {
  opacity: 1;
  transition: 2s;
} */

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "header header"
    "menu menu"
    "main main"
    "main main"
    "right right"
    "footer footer";
  grid-gap: 10px;
  padding: 10px;
}

body {
  margin: 0;
}

.header {
  font-family: "Viga", sans-serif;
  overflow: hidden;
  background-color: transparent;
  padding: 5px 10px;
  margin: -10px -10px 0px -10px;
  position: fixed;
}

.header a {
  padding: 12px;
  text-align: center;
  text-decoration: none;
  line-height: 15px;
  font-weight: 600;
  color: white;
  float: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.header a.logo {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.btn-head {
  font-size: 15px;
  margin: 2px 5px 0px 5px;
  font-family: Arial;
  width: 60px;
  height: 12px;
}

.header-right {
  float: right;
}

.isinya {
  font-family: Verdana, sans-serif;
  margin: 0;
  /* top: 300px; */
}
.mySlides {
  display: none;
}
.isinya img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  /* padding-top: 100px; */
}

.slideshow-container img {
  height: 500px;
  width: 600px;
  border-radius: 50px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.849);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 5px;
}

.con-card {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.534);
  border-radius: 5px;
}

.con-card:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  font-family: "Viga", sans-serif;
  margin-left: 10px;
  color: whitesmoke;
}

.desk {
  background-color: rgba(0, 0, 0, 0.644);
  color: white;
  padding: 10px;
}

.btn-footer {
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.753);
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.container-content {
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-size: contain;
}

@media (min-width: 992px) {
  .item1 {
    grid-area: header;
  }
  .item2 {
    grid-area: menu;
    position: relative;
    background-color: rgba(47, 90, 100, 0.541);
  }
  .item3 {
    grid-area: main;
  }
  .item4 {
    grid-area: right;
    background-color: aquamarine;
  }
  .item5 {
    grid-area: footer;
    background-color: cadetblue;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      "header header header header header header"
      "menu main main main main right"
      "menu footer footer footer footer footer";
    /* grid-gap: 10px;
    padding: 10px; */
  }

  .landing {
    background-image: url("../img/611354a95d1fa.jpg");
    background-attachment: fixed;
    background-size: contain;
    /* width: 1350px; */
    height: 700px;
    background-position: 0 - 100px;
    margin: -10px -10px 0px -10px;
  }

  .btn-head:hover::after {
    content: "";
    display: block;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 13px;
    margin-bottom: -15px;
  }
  .judul {
    opacity: 0;
    padding-top: 500px;
    margin-bottom: 220px;
    text-align: center;
    color: white;
    font-family: "Vida", sans-serif;
    /* transform: translate(0px, 350px); */
    transition: 2s;
  }
  .judulMuncul {
    opacity: 1;
    padding-top: 250px;
    /* transform: translate(0px, 250px); */
  }
  .isinya {
    /* top: 500px; */
    text-align: center;
  }
  .container-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .card img {
    border-radius: 5px 5px 0 0;
  }
}

@media (max-width: 992px) {
  .landing {
    background-image: url("../img/611354a95d1fa.jpg");
    background-attachment: fixed;
    background-size: contain;
    /* width: 1350px; */
    width: 477px;
    height: 650px;
    background-position: 0 - 100px;
    overflow: hidden;
    margin: -10px -70px 0px -10px;
  }
}
